.blog {
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
}

.icon-menu {
  color: white;
}

.editorial_1 {
  padding: 20% 5%;
}

.titulos_blog {
  color: white;
  text-align: center;
  font-family: "Constantia";
}

#menu_blog a{
  color: white;
}

.editorial_1 h3 {
  background: rgba(204, 74, 70, 0.3);
  width: 100%;
}

.editorial_1 h4 {
    text-decoration: underline;
}

.editorial_1 h3, .editorial_1 h4{
  font: bold 26px sans-serif;
  padding: 5px 0;
  color: rgba(255, 255, 255, 0.5);
}
.editorial_1 p {
  font: normal 18px sans-serif;
  word-spacing: 5px;
  line-height: 25px;
  margin: 0 5%;
  color: rgba(255, 255, 255, 0.5);
}

/*En tamaño de movil y tablets no se mostrara*/
.versiculos {
  display: none;
}
/*----------------------------Tamaño escritorio*/
@media(min-width:1024px) {
  .blog {
    width: 100%;
  }

  .editorial_1 {
    width: 70%;
    margin-left: 2%;
    padding-top: 5%;
    height: 100%;
  }

  .editorial_1 p {
    border-right: solid 2px #fff;
    padding-right: 20px;
  }

  .versiculos {
    display: initial;
    border: none;
    float: right;
    margin: 12% 5%;
    width: 30%;
    height: auto;
    font: normal 18px sans-serif;
    color: rgba(255, 0, 0, 0.6);
  }

  
  
  .versiculos cite {
    margin-left: 45%;
  }

    .editorial_1 h3 {
      margin-top: 5%;
      width: 80%;
    }
}
