@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.contenido{
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 5%;
  /*background: #4682B4;*/
  background: #ffffe0;
  color: #000;
}

.cont_editorial {
  background-image: url("../imagenes/crecimiento.jpeg");
  border: solid 2px #000;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  margin: 0 ;
  height: 100%;
  padding: 10% 0;
}

.cont_info{
  background-image: url("../imagenes/salud.jpg");
  color: #fff;
  border: solid 2px #000;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  /*margin: 15%;*/
  height: auto;
  padding-top: 10% ;
}

#redes_soc {
  border: solid 1px #000;
  border-radius: 10px;
  overflow: scroll;
  height: 100vh;
}

.contenido h3 {
  font-size: 28px;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  text-decoration: underline;
  letter-spacing: 5px;
}

.contenido h4{
  font-size: 26px;
  text-align: center;
}


.contenido p {
  font-size: 18px;
  margin: 0 10%;
  padding: 10%;
}

.cont_editorial p i, .cont_info p i {
  border: solid 1px #000;
  border-radius: 5%;
  width: 10%;
  margin-left: 60%;
  padding: 5px;
  font-size: 14px;
}

p i:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
