@import url("portadas.css");
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	position: fixed; /*Lo fijamos en una posicion fija*/
}

#btn-menu {
	display: none;
}

#icono-cruz {
	display: none;
}

/*Estilo del icono del menu*/
label img{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	cursor: pointer;
}

.titulos {
	color: #fff;
	font-family: 'Constantia';
	text-align: center;
}

header h1{
	font-size: 24px;
	padding-top: 5px;
	margin-right: 10%;
}

header h2 {
	font-size: 21px;
	width: 80%;
	margin-left: 10%;	
}

.menu {
	position: absolute;
	width: 100%;
	transition: all 0.5s;/*Para que cuando se extienda tenga un retraso de 0.5 segundos*/
	margin-left: 100%;
}

.menu ul {
	display: flex; /*que sea flexible*/
	flex-direction: column;
}

.menu ul a {
	display: block;
	text-decoration: none;
	padding: 25px 10px;
	margin-left: 5%;
	font: bold 18px verdana;
	color: #fff;
}


.menu ul a:hover {
	background: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255, 0.5);
}

#btn-menu:checked ~ .menu {
	margin-left: 10%;

}
.textos ul li {
	color: #fff;
}

#conocer {
	position: absolute;
	top: 55%;
	right: 15%;
	color: #fff;
	border: 3px solid #fff;
	width: 150px;
	height: 50px;
	text-align: center;
	padding: 10px;
	font: bold 18px "Cambria";
}	

#conocer:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
}

.textos{
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
	font-size: 31px;
	width: 80%;
	text-align: center;
	padding: 0;
	margin:0 10%;
	word-spacing: 5px;
}

#texto_1 {
	padding-top: 15%;
}

#presentacion {
	width: 100%;
	height: 150em;
	background: #000;
}


#texto_0 cite {
	position: absolute;
	color: rgba(255, 255, 255, 1);
	top: 20%;/*Estaba 20vh*/
	right: 5%;/*Estaba 5vh*/
	font-size: 21px;
	font-weight: bold;
	width: 60%;
	text-align: right;
}

strong {
	text-decoration: underline;
}


/*Si el tamaño es de 1024px para arriba*/
@media(min-width: 1024px) {

	h1, #icono-cruz{
		display: initial;
		float: right;
		margin-top: 10px;
	}

	h1 {
		margin-right: -25px;
		font-size: 31px;
	}

	h2 {
		display: none;
	}


    label img {
        display: none;
    }

    header {
       	background: rgb(0, 0, 0);
    	height: 12vh; 
    }

    .menu {
    	margin-left: 0;
    }

    .menu ul {
    	display: flex; 
		flex-direction: row;
		float: left;
    }

    .menu ul a {
    	margin-right: 5%;
    	margin-left: 0;
    	font-size: 18px;
    }

	.menu ul a:hover {
		background: rgba(255, 255, 255, 0.6);
		height: 12vh;
	}


	.textos {
		padding: 20%;
	}

	#texto_0 cite {
		font-size: 35px;
		top: 25%;
		right: 20%;
		width: 100%;
	}

	#conocer {
		top: 50%;
		right: 20%;
	}
}