#c-slider {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#c-slider #slider{
    display: flex;
    width: 500%;
    height: 100vh;

}

#slider .portada {
    width: 100%;/*este estaba en 80%*/
}

.portada img {
    width: 100%;
    height: 100vh;
}



#btn-prev, #btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px|z;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}


#btn-prev:hover, #btn-next:hover {
    background: rgba(255, 255, 255, 0.4);
}

#btn-prev {
	left: 10px;
}

#btn-next {
	right: 10px;
}


#en_vivo {
  position: absolute;
  right: 10%;
  top: 15%;
  background: rgba(255, 255, 255, 0.3);
  border-radius:5px;
  border: solid 2px #000;
  padding: 2%;
}

#en_vivo:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}


/*No se va a visualizar el clima en tamaño movil y tablets*/
.clima {
  display: none;
}

#slogan {
  display: none;
}

/*Si la pantalla es de tamaño escritorio*/
@media(min-width: 1024px) {


    #btn-prev{
        transform: translateX(100%);
    }

    #btn-next {
        transform: translateX(-100%);
    }

    .clima {
      display: initial;
      position: absolute;
      right: 5%;
      top: 15%;
    }

    #en_vivo {
      top: 80vh;
    }

    #slogan {
      display: initial;
      position: absolute;
      z-index: 0;
      top: 15%;
      left: 2%;
      width: 50px;
      height: 40px;
    }

    #slogan cite {
      font: italic 2em "Lucida Calligrphy";
    }
}
