#c-slider {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#c-slider #slider{
    display: flex;
    width: 500%;
    height: 100vh;

}

#slider .portada {
    width: auto;/*este estaba en 80%*/
}

.portada img {
    width: 100%;
    height: 100vh;
}



#btn-prev, #btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px|z;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}


#btn-prev:hover, #btn-next:hover {
    background: rgba(255, 255, 255, 0.4);
}

#btn-prev {
	left: 10px;
}

#btn-next {
	right: 10px;
}


/*Si la pantalla es de tamaño escritorio*/
@media(min-width: 1024px) {


    #btn-prev{
        transform: translateX(100%);
    }

    #btn-next {
        transform: translateX(-100%);
    }
}
