@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url(menu.css);
@import url(banner.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff; 

    position: fixed;/*Para que el menu se quede pegado*/
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto; 
}

h1 {
    float: left;
}

/*Para limpiar los float le damos un display: table solo a la clase contenedor*/

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

/*Esto yo lo agregue*/
#bienvenidos p {
    margin: 5%;
    font: normal 18px Sans-Serif;
}
footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width: 768px) {
    .sociales {
        width: auto;
    }

    footer .contenedor {
        justify-content: center; 
        width: 17%;
    }
}

@media (min-width: 1024px) {
    .contenedor {
        width: 100%;
    }
}
